.tabelaResult {
    background: #283142;
    border-radius: 10px;
    max-width: 56.25rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.93rem 0.625rem;
  }
  #sales{
      padding: 2.5rem 0.625rem;
  }
  .tabelaResult input{
      width: 100%;
      max-width: 18.75rem;
      color: #384459;
      background-color: #1B2531;
      border: 1px solid #384459;
      height: 2.875rem;
      border-radius: 5px;
      padding-left: 1.375rem;
      margin-bottom: 1rem;
      font-size: 1.125rem;
  }
  .tabelaResult h2{
      margin-bottom: 1.31rem;
      color: #676FFF;
      font-size: 1.5rem;
      font-weight: 700;
  }
  input::-webkit-calendar-picker-indicator{
      display: none;
  }
  .divNotificar{
      width: 45px;
      height: 45px;
      background: rgba(255, 107, 114, 0.1);
      border: 1px solid #FF6B72;
      border-radius: 10px;
      padding: 13px 14px 13px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      cursor: pointer;
  }
  .divNotificar:hover{
      background-color: #242C3B;
      border-color: red;
  }
  td img{
      width: 19px;
  }
  .salesTable{
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
  }
  .salesTable thead{
      font-size: 1rem;
      font-weight: 700;
      color: #E9E9E9;
      height: 55px;
  }
  .salesTable tbody{
      font-size: 14px;
      color: #CFCFCF;
      font-weight: 400;
      text-align: center;
  }
  .salesTable tbody tr{
      height: 74px;
      border-top: 1px solid #5F6E82;
  }
  .salesTable tbody tr:hover > td{
      background-color: #384459;
  }
  .salesTable tbody tr:nth-child(odd){
      background-color: #242C3B;
  }
  .showData, .show992{
      display: none;
  }
  @media (min-width: 576px){
    .showData{
        display: table-cell;
    }
    .tabelaResult{
        padding: 1.93rem 35px;
    }
    #sales{
        padding: 2.5rem 1.25rem;
    }
    .salesTable tbody tr{
        height: 62px;
    }
    .salesTable tbody{
        font-size: 18px;
    }
}
@media (min-width: 992px){
    .show992{
        display: table-cell;
    }
}