.divHeader h1 {
    font-size: 1.5rem;
  }
  .divHeader p,
  a {
    font-size: 1.14rem;
    font-weight: 300;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #0d82cf;
  }
  .divHeader {
    padding: 1.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
  }
  .divHeader img {
    width: 235px;
    margin-bottom: 1.08rem;
  }